In [21]:
import pandas as pd
import os
from datetime import date
import shutil

/h3Tratando o DF
    - Remove a linha duplicada no inicio
    - Remove as linhas com Totais
    - Remove as colunas indesejadas
    - Transforma a primeira linha em cabeçalho

In [ ]:
def tratar_df(df):
    df = df.drop(df.columns[2:14], axis=1)
    df = df.drop(df.columns[14:], axis=1)

    df = df.drop(df.index[0])
    df = df[~df.map(lambda x: 'Totais' in str(x)).any(axis=1)]

    #Transformando a primeira linha no cabeçalho
    df = df.set_axis(df.iloc[0], axis=1)
    df = df[1:]
    
    return df

Função para mover o arquivo atual para o diretório de histórico

In [27]:
def mover_e_renomear_arquivo():
    diretorio_arq_atual = "./atual"
    arq_atual = os.listdir(diretorio_arq_atual)[0]
    caminho_arq_atual = f"{diretorio_arq_atual}/{arq_atual}"

    data_atual = date.today()
    data_formatada = data_atual.strftime("%d-%m-%Y")
    
    diretorio_destino = "./historico-sem-mei"
    shutil.move(caminho_arq_atual, f"{diretorio_destino}/{data_formatada}.xlsx")

mover_e_renomear_arquivo()

In [33]:
def comparar():
    arq_atual = os.listdir("./atual")[0]
    df = pd.read_excel(f"./atual/{arq_atual}")
    df = tratar_df(df)
    if not os.path.isdir("./historico-sem-mei"):
        os.mkdir("./historico-sem-mei")
        
    dir = "./historico-sem-mei"
    arquivos_historicos = os.listdir(dir)

    for arquivo in arquivos_historicos:
        df_comparacao = pd.read_excel(f"{dir}/{arquivo}")
        df_comparacao = tratar_df(df_comparacao)
        comparacao = df.compare(df_comparacao, result_names=("atual", "antigo"))
        comparacao["Tipo de Evento"] = df["Tipo de Evento"]
        comparacao["ANO"] = df["ANO"]


        print(f"Comparação com o arquivo {arquivo}")
        print(comparacao)
        print("-="*20)
    mover_e_renomear_arquivo()

In [34]:
comparar()

Comparação com o arquivo compare2.xlsx
1    ago          Tipo de Evento   ANO
   atual antigo
19   300    301  PEDIDO DE BAIXA  2021
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Comparação com o arquivo inicial.xlsx
1    jan          mai          ago               Tipo de Evento   ANO
   atual antigo atual antigo atual antigo
12   NaN    NaN   690    692   NaN    NaN  INSCRIÇÃO DE EMPRESA  2021
19   NaN    NaN   NaN    NaN   300    301       PEDIDO DE BAIXA  2021
23   627    625   NaN    NaN   NaN    NaN       PEDIDO DE BAIXA  2025
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Comparação com o arquivo 29-04-2025.xlsx
1         Tipo de Evento   ANO

4              ALTERAÇÃO  2020
5              ALTERAÇÃO  2021
6              ALTERAÇÃO  2022
7              ALTERAÇÃO  2023
8              ALTERAÇÃO  2024
9              ALTERAÇÃO  2025
11  INSCRIÇÃO DE EMPRESA  2020
12  INSCRIÇÃO DE EMPRESA  2021
13  INSCRIÇÃO DE EMPRESA  2022
14  INSCRIÇÃO DE EMPRESA  2023
15  INSCRIÇÃO DE EMPRESA  2024
16  INSCRIÇÃO DE EMPRESA  2025
18       PEDIDO DE BAIXA  2020
19       PEDIDO DE BAIXA  2021
20       PEDIDO DE BAIXA  2022
21       PEDIDO DE BAIXA  2023
22       PEDIDO DE BAIXA  2024
23       PEDIDO DE BAIXA  2025
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

In [66]:
comparacao = df1.compare(df2)
comparacao["Tipo de Evento"] = df1["Tipo de Evento"]
comparacao["ANO"] = df1["ANO"]
comparacao

1   jan        mai              Tipo de Evento   ANO
   self other self other
12  NaN   NaN  692   690  INSCRIÇÃO DE EMPRESA  2021
23  625   627  NaN   NaN       PEDIDO DE BAIXA  2025

MEI

In [23]:
dfmei = pd.read_excel('./arquivos/inicialMei.xlsx')
dfmei = dfmei[~dfmei.map(lambda x: 'Totais' in str(x)).any(axis=1)]
dfmei

,Tipo de Evento,ANO,Mês,jan,fev,mar,abr,mai,jun,jul,ago,set,out,nov,dez
2,ALTERAÇÃO,2020,NaN,1350,828,785,652,695,945,987,1074,1048,959,816,704
3,ALTERAÇÃO,2021,NaN,1225,1152,1204,1317,1255,1197,1246,1298,1255,1105,998,869
4,ALTERAÇÃO,2022,NaN,1920,1249,1669,1155,1432,1407,1260,1394,1271,993,1177,1510
5,ALTERAÇÃO,2023,NaN,6052,4042,1957,1220,1749,1385,1378,1479,1257,1272,25214,954
6,ALTERAÇÃO,2024,NaN,2438,1501,1292,1413,1479,1274,1339,1335,1254,1206,1134,933
7,ALTERAÇÃO,2025,NaN,4629,2370,1284,1045,-,-,-,-,-,-,-,-
9,INSCRIÇÃO DE EMPRESA,2020,NaN,1857,1491,1626,919,1063,1528,1760,1917,1929,1759,1564,1389
10,INSCRIÇÃO DE EMPRESA,2021,NaN,2518,2012,2051,2019,2160,2169,2275,2407,2100,1900,1712,1286
11,INSCRIÇÃO DE EMPRESA,2022,NaN,1992,1896,1981,1873,2169,1887,1825,1893,1642,1386,1517,1057
12,INSCRIÇÃO DE EMPRESA,2023,NaN,2192,1618,2056,1428,2095,1704,1813,1787,1559,1553,1567,1026
13,INSCRIÇÃO DE EMPRESA,2024,NaN,1946,1721,1630,1979,2079,1779,1899,1918,1601,1821,1696,1338
14,INSCRIÇÃO DE EMPRESA,2025,NaN,3667,2641,2203,1767,-,-,-,-,-,-,-,-
16,PEDIDO DE BAIXA,2020,NaN,509,405,372,220,233,289,305,314,362,329,338,450
17,PEDIDO DE BAIXA,2021,NaN,541,483,550,449,543,489,472,644,600,506,556,690
18,PEDIDO DE BAIXA,2022,NaN,767,657,669,669,793,695,753,796,749,623,743,703
19,PEDIDO DE BAIXA,2023,NaN,1173,1024,1190,862,1201,1000,908,990,945,903,991,820
20,PEDIDO DE BAIXA,2024,NaN,1269,1090,1126,1365,1259,995,1121,1109,953,1118,967,938
21,PEDIDO DE BAIXA,2025,NaN,1647,1301,1277,917,-,-,-,-,-,-,-,-